In [2]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [3]:
url = "http://www.merolagani.com/CompanyList.aspx"

In [4]:
req = requests.get(url)

In [5]:
soup = BeautifulSoup(req.text,'lxml')

In [6]:
raw_data = soup.findAll('div',attrs={'id':'collapse_0'})

In [8]:
company_symbols = []
company_urls = []
for data in raw_data:
    company_links = data.findAll('a')
    for symbol in company_links:
        company_symbols.append(symbol.string.strip(""))
        url ='http://www.merolagani.com/CompanyDetail.aspx?symbol={}'.format(symbol.string.strip(""))
        company_urls.append(url)
#         print(symbol.string.strip(""))

In [59]:
# company_symbols
# company_urls

In [60]:
# len(company_urls)

In [61]:
# for symbol in company_symbols:
#     company_url ='http://www.merolagani.com/CompanyDetail.aspx?symbol={}'.format(symbol)
#     print(company_url)

In [9]:
values = []
i = 0 ## repalce with 0 to get all 
while i < len(company_urls):
    req = requests.get(company_urls[i])
    soup = BeautifulSoup(req.text,'lxml')
    tables = soup.findChildren('table',attrs={'class':'table-zeromargin'})
    company_table = tables[0]
    data = company_table.findChildren(['td'])
    for td in data:
        span = td.findChildren(['span'])
        strong = td.findChildren(['strong'])
        for data in strong:
            if data.text:
                values.append(data.text)
            
                print(data.text)
        for data in span:
            values.append(data.text)
            print(data.text)
        if td.string:
            text = td.string.replace("0\xa0-\xa0\r\n","")
            text = text.replace("\r\n",'')
            text = text.strip("\n")
            text = text.strip(" ")
            print(text)
            if text:
                values.append(text)
            
        else:
            values.append("NULL")
            print("Empty")
#     print(soup.text)
    print("\n***********************************************************************\n")
    
    i+=1

683.00
Empty
0.44%
2016/05/18 03:00:00
365.0                                    707.00
576.85
58.10%
(FY: 072-073, Q: 2)
Empty
60.12
(FY: 072-073)
Empty
(FY: 072-073)
Empty
(FY: 072-073)
Empty
20,746,125,000.00

***********************************************************************

585.00
Empty
1.04%
2015/12/24 03:00:00
424.0                                    672.00
579.92
3.72%
(FY: 072-073, Q: 2)
Empty
23.73
(FY: 072-073)
Empty
(FY: 072-073)
Empty

11,233,241,370.00

***********************************************************************

255.00
Empty
0.79%
2016/01/25 03:00:00
238.0                                    319.00
248.67
-12.07%
(FY: 072-073, Q: 3)
Empty
29.62
(FY: 072-073)
Empty
(FY: 072-073)
Empty

5,100,000,000.00

***********************************************************************

215.00
Empty
9.69%
2013/11/10 03:00:00
0
Empty




(FY: 069-070)
Empty

4,300,000,000.00

***********************************************************************

813.00
Empty
0.74%
2016/05/18 03:00:00
365.0                                    823.00
655.34
78.29%
(FY: 072-073, Q: 3)
Empty
25.78
(FY: 071-072)
Empty
(FY: 071-072)
Empty
(FY: 071-072)
Empty
19,292,489,187.00

***********************************************************************

2,910.00
Empty
1.39%
2016/05/18 03:00:00
1,728.0                                    3,430.00
2,460.96
36.43%
(FY: 072-073, Q: 3)
Empty
47.34
(FY: 071-072)
Empty
(FY: 071-072)
Empty

57,402,299,160.00

***********************************************************************

494.00
Empty
-0.4%
2016/05/18 03:00:00
375.0                                    578.00
450.71
7.39%
(FY: 072-073, Q: 3)
Empty
22.12
(FY: 070-071)
Empty
(FY: 071-072)
Empty

14,454,176,698.00

***********************************************************************

184.00
Empty
-0.54%
2015/01/29 03:00:00
0
Empty

(FY: 072-073, Q: 2)
Empty
12.34
(FY: 069-070)
Empty
(FY: 067-068)
Empty

3,680,096,416.00

***********************************************************************

1,504.00
Empty
3.87%
2016/05/18 03:00:00
718.0                                    1,504.00
1,140.19
81.20%
(FY: 072-073, Q: 3)
Empty
38.47
(FY: 071-072)
Empty
(FY: 071-072)
Empty
(FY: 071-072)
Empty
50,123,806,496.00

***********************************************************************

375.00
Empty
5.04%
2015/09/22 03:00:00
226.0                                    375.00
Empty
40.45%
(FY: 072-073, Q: 3)
Empty
25.56
(FY: 069-070)
Empty
(FY: 069-070)
Empty

7,725,000,000.00

***********************************************************************

385.00
Empty
-1.03%
2016/01/13 03:00:00
308.0                                    480.00
389.24
1.32%
(FY: 072-073, Q: 3)
Empty
19.81
(FY: 071-072)
Empty
(FY: 071-072)
Empty

9,357,281,780.00

***********************************************************************

207.00
Empty
0.98%
2014/04/03 03:00:00
0
Empty






4,140,000,000.00

***********************************************************************

712.00
Empty
3.49%
2016/05/18 03:00:00
393.0                                    712.00
596.76
34.34%
(FY: 072-073, Q: 3)
Empty
36.87
(FY: 070-071)
Empty
(FY: 070-071)
Empty
(FY: 071-072)
Empty
16,645,363,128.00

***********************************************************************

401.00
Empty
0.5%
2015/12/24 03:00:00
295.0                                    426.00
381.44
17.94%
(FY: 072-073, Q: 2)
Empty
22.11
(FY: 070-071)
Empty
(FY: 072-073)
Empty

8,023,341,132.00

***********************************************************************

Empty

2016/04/14 03:00:00
647.00
Empty
-100.00%
(FY: 072-073, Q: 2)
Empty

(FY: 072-073)
Empty
(FY: 072-073)
Empty
(FY: 072-073)
Empty


***********************************************************************

395.00
Empty
2.33%
2015/01/28 03:00:00
0
Empty

(FY: 072-073, Q: 2)
Empty
25.29
(FY: 071-072)
Empty
(FY: 071-072)
Empty
(FY: 071-072)
Empty
9,203,500,000.00

***********************************************************************

2,270.00
Empty

2016/05/18 03:00:00
1,602.0                                    2,700.00
1,999.49
19.35%
(FY: 072-073, Q: 3)
Empty
39.06
(FY: 071-072)
Empty
(FY: 071-072)
Empty

82,974,449,670.00

***********************************************************************

692.00
Empty
1.47%
2016/05/18 03:00:00
399.0                                    699.00
519.85
41.80%
(FY: 072-073, Q: 3)
Empty
22.32
(FY: 071-072)
Empty
(FY: 071-072)
Empty

16,833,388,552.00

***********************************************************************

477.00
Empty
0.21%
2016/05/18 03:00:00
237.0                                    489.00
355.40
63.36%
(FY: 072-073, Q: 2)
Empty
11.24


(FY: 072-073)
Empty
19,080,000,000.00

***********************************************************************

363.00
Empty
-4.22%
2015/11/26 03:00:00
363.0                                    615.00
380.00
-35.52%
(FY: 072-073, Q: 2)
Empty
14.86
(FY: 071-072)
Empty
(FY: 072-073)
Empty

5,327,790,930.00

***********************************************************************

1,090.00
Empty
1.68%
2016/05/18 03:00:00
603.0                                    1,208.00
893.06
53.52%
(FY: 072-073, Q: 3)
Empty
32.37
(FY: 071-072)
Empty
(FY: 072-073)
Empty

51,955,173,730.00

***********************************************************************

770.00
Empty
0.92%
2016/05/18 03:00:00
529.0                                    1,052.00
816.66
18.46%
(FY: 072-073, Q: 2)
Empty
28.33
(FY: 071-072)
Empty
(FY: 071-072)
Empty

20,468,792,190.00

***********************************************************************

675.00
Empty
1.2%
2016/05/18 03:00:00
396.0                                    687.00
521.41
33.14%
(FY: 072-073, Q: 2)
Empty
33.28
(FY: 071-072)
Empty
(FY: 071-072)
Empty

13,500,000,000.00

***********************************************************************

654.00
Empty
0.77%
2016/05/18 03:00:00
390.0                                    654.00
558.28
46.97%
(FY: 072-073, Q: 2)
Empty
25.82
(FY: 071-072)
Empty

(FY: 071-072)
Empty
16,836,875,532.00

***********************************************************************

907.00
Empty
0.22%
2016/05/18 03:00:00
458.0                                    907.00
744.44
62.25%
(FY: 072-073, Q: 3)
Empty
30.74
(FY: 071-072)
Empty
(FY: 071-072)
Empty
(FY: 071-072)
Empty
23,128,210,667.00

***********************************************************************

1,775.00
Empty
2.01%
2016/05/18 03:00:00
765.0                                    1,789.00
1,483.23
99.44%
(FY: 072-073, Q: 2)
Empty
43.49
(FY: 071-072)
Empty
(FY: 071-072)
Empty

47,006,464,125.00

***********************************************************************

595.00
Empty
0.17%
2016/01/06 03:00:00
565.0                                    890.00
633.48
-13.77%
(FY: 072-073, Q: 3)
Empty
13.84
(FY: 071-072)
Empty
(FY: 071-072)
Empty

12,085,521,000.00

***********************************************************************

2,932.00
Empty
1.1%
2016/05/18 03:00:00
1,640.0                                    3,595.00
2,791.58
49.21%
(FY: 072-073, Q: 2)
Empty
53.85
(FY: 072-073)
Empty
(FY: 072-073)
Empty

65,771,181,080.00

***********************************************************************

594.00
Empty
0.68%
2016/05/18 03:00:00
323.0                                    600.00
462.49
47.76%
(FY: 072-073, Q: 2)
Empty
26.28
(FY: 071-072)
Empty
(FY: 072-073)
Empty
(FY: 071-072)
Empty
13,285,701,000.00

***********************************************************************

399.00
Empty
2.31%
2016/05/18 03:00:00
252.0                                    402.00
344.48
27.48%
(FY: 072-073, Q: 3)
Empty
36.57
(FY: 071-072)
Empty
(FY: 072-073)
Empty
(FY: 071-072)
Empty
7,980,000,000.00

***********************************************************************

228.00
Empty
-2.98%
2012/06/28 03:00:00
0
Empty






4,560,000,000.00

***********************************************************************

Empty

Empty
0
Empty

(FY: 071-072, Q: 3)
Empty






***********************************************************************

415.00
Empty

2015/09/30 03:00:00
280.0                                    470.00
Empty
20.29%
(FY: 072-073, Q: 3)
Empty
28.70





***********************************************************************

In [63]:
print(len(values))

468

In [47]:
# values

In [10]:
nblvalues = []
url = "http://www.merolagani.com/CompanyDetail.aspx?symbol=NABIL"
req = requests.get(url)
soup = BeautifulSoup(req.text,'lxml')
tables = soup.findChildren('table',attrs={'class':'table-zeromargin'})
company_table = tables[0]
data = company_table.findChildren(['td'])
for td in data:
    span = td.findChildren(['span'])
    strong = td.findChildren(['strong'])
    for data in strong:
        if data.text:
            nblvalues.append(data.text)
            
            print(data.text)
    for data in span:
        nblvalues.append(data.text)
        print(data.text)
    if td.string:
        text = td.string.replace("0\xa0-\xa0\r\n","")
        text = text.replace("\r\n",'')
        text = text.strip("\n")
        text = text.strip(" ")
        print(text)
        if text:
            nblvalues.append(text)
            
    else:
        nblvalues.append("NULL")
        print("Empty")
#     print(soup.text)
print("***********************************************************************\n")

2,270.00
Empty

2016/05/18 03:00:00
1,602.0                                    2,700.00
1,999.49
19.35%
(FY: 072-073, Q: 3)
Empty
39.06
(FY: 071-072)
Empty
(FY: 071-072)
Empty

82,974,449,670.00
***********************************************************************

In [49]:
nblvalues

['476.00',
 'NULL',
 '-0.21%',
 '2016/05/17 03:00:00',
 '237.0                                    489.00',
 '354.37',
 '63.01%',
 '(FY: 072-073, Q: 2)',
 'NULL',
 '11.22',
 '(FY: 072-073)',
 'NULL',
 '19,040,000,000.00']

In [50]:
df = pd.DataFrame(data=nblvalues)

In [51]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,476.00,NULL,-0.21%,2016/05/17 03:00:00,237.0 489.00,354.37,63.01%,"(FY: 072-073, Q: 2)",NULL,11.22,(FY: 072-073),NULL,"19,040,000,000.00"

In [52]:
# df  = pd.DataFrame(data=nblvalues,columns=['Market Price','%Change','Last Trade on','52 Weeks Low - High','180 Day Average','1 Year Yield','EPS','P/E Ratio','% Dividend','% Bonus','Right Share','Market Capitalization'])