In [413]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [ ]:
company_list=

In [432]:
url='http://www.merolagani.com/CompanyList.aspx'
req=requests.get(url)
soup=BeautifulSoup(req.text,'html.parser')
div=soup.find("div",attrs={'id':'ctl00_ContentPlaceHolder1_rptSector_ctl00_divData'})
links=div.find_all('a',href=True)

In [440]:
compUrl=[]
for link in links:
    compUrl.append('http://www.merolagani.com/CompanyDetail.aspx?symbol='+link.text)

In [441]:
compUrl

['http://www.merolagani.com/CompanyDetail.aspx?symbol=ADBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=BOK',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=CBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=CTBNL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=CZBIL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=EBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=GBIME',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=GRAND',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=HBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=JBNL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=KBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=KIST',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=LBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=LUBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=MBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=MEGA',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=NABIL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=NBB',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=NBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=NCCB',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=NIB',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=NICA',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=NMB',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=PCBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=SANIMA',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=SBI',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=SBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=SCB',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=SRBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=CCBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=BOAN',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=PBL',
 'http://www.merolagani.com/CompanyDetail.aspx?symbol=PRVU']

In [411]:
def lagani(url):
    nblvalues = []
    
    table=soup.find('table',attrs={'class':'table-zeromargin'}) 
    tds=table.findChildren('td')
    for i in tds:
        if i.string:
            text = i.string.replace("0\xa0-\xa0\r\n","")
            text = text.replace("\r\n",'')
            text = text.replace("$nbsp",'')
            text = text.strip("\n")
            text = text.strip(" ")
            if text:
                nblvalues.append("a"+text)
            else:
                nblvalues.append("b Null")
        else:
            texts = i.text.replace("0\xa0-\xa0\r\n","")
            texts = texts.replace("\r\n",'')
            texts = texts.strip("\n")
            texts = texts.strip(" ")
            nblvalues.append("c"+ texts)
    return nblvalues

In [412]:
lagani()

['c2,270.00',
 'b Null',
 'a2016/05/18 03:00:00',
 'a1,602.0                                    2,700.00',
 'a1,999.49',
 'a19.35%',
 'c58.11 (FY: 072-073, Q: 3)',
 'a39.06',
 'c6.48% (FY: 071-072)',
 'c30.00% (FY: 071-072)',
 'b Null',
 'a82,974,449,670.00']

In [396]:
df = pd.DataFrame(data=lagani())

In [401]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11
0,"32,270.00",2 Null,12016/05/18 03:00:00,"11,602.0 2,...","11,999.49",119.35%,"358.11 (FY: 072-073, Q: 3)",139.06,36.48% (FY: 071-072),330.00% (FY: 071-072),2 Null,"182,974,449,670.00"

In [402]:
df.to_excel("lagani.xlsx")