In [53]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [54]:
url = "http://www.merolagani.com/CompanyList.aspx"

In [55]:
req = requests.get(url)

In [56]:
soup = BeautifulSoup(req.text,'lxml')

In [57]:
raw_data = soup.findAll('div',attrs={'id':'collapse_0'})

In [58]:
company_symbols = []
company_urls = []
for data in raw_data:
    company_links = data.findAll('a')
    for symbol in company_links:
        company_symbols.append(symbol.string.strip(""))
        url ='http://www.merolagani.com/CompanyDetail.aspx?symbol={}'.format(symbol.string.strip(""))
        company_urls.append(url)
#         print(symbol.string.strip(""))

In [59]:
# company_symbols
# company_urls

In [60]:
# len(company_urls)

In [61]:
# for symbol in company_symbols:
#     company_url ='http://www.merolagani.com/CompanyDetail.aspx?symbol={}'.format(symbol)
#     print(company_url)

In [62]:
values = []
i = 0 ## repalce with 0 to get all 
while i < len(company_urls):
    req = requests.get(company_urls[i])
    soup = BeautifulSoup(req.text,'lxml')
    tables = soup.findChildren('table',attrs={'class':'table-zeromargin'})
    company_table = tables[0]
    data = company_table.findChildren(['td'])
    for td in data:
        span = td.findChildren(['span'])
        strong = td.findChildren(['strong'])
        for data in strong:
            if data.text:
                values.append(data.text)
            
                print(data.text)
        for data in span:
            values.append(data.text)
            print(data.text)
        if td.string:
            text = td.string.replace("0\xa0-\xa0\r\n","")
            text = text.replace("\r\n",'')
            text = text.strip("\n")
            text = text.strip(" ")
            print(text)
            if text:
                values.append(text)
            
        else:
            values.append("NULL")
            print("Empty")
#     print(soup.text)
    print("\n***********************************************************************\n")
    
    i+=1

680.00
Empty
2.56%
2016/05/17 03:00:00
365.0                                    707.00
575.95
57.41%
(FY: 072-073, Q: 2)
Empty
59.86
(FY: 072-073)
Empty
(FY: 072-073)
Empty
(FY: 072-073)
Empty
20,655,000,000.00

***********************************************************************

585.00
Empty
1.04%
2015/12/24 03:00:00
424.0                                    672.00
579.92
3.72%
(FY: 072-073, Q: 2)
Empty
23.73
(FY: 072-073)
Empty
(FY: 072-073)
Empty

11,233,241,370.00

***********************************************************************

255.00
Empty
0.79%
2016/01/25 03:00:00
238.0                                    319.00
248.67
-12.07%
(FY: 072-073, Q: 3)
Empty
29.62
(FY: 072-073)
Empty
(FY: 072-073)
Empty

5,100,000,000.00

***********************************************************************

215.00
Empty
9.69%
2013/11/10 03:00:00
0
Empty




(FY: 069-070)
Empty

4,300,000,000.00

***********************************************************************

807.00
Empty
0.87%
2016/05/17 03:00:00
365.0                                    823.00
654.01
76.97%
(FY: 072-073, Q: 3)
Empty
25.59
(FY: 071-072)
Empty
(FY: 071-072)
Empty
(FY: 071-072)
Empty
19,150,109,193.00

***********************************************************************

2,870.00
Empty
0.35%
2016/05/17 03:00:00
1,728.0                                    3,430.00
2,457.15
34.55%
(FY: 072-073, Q: 3)
Empty
46.69
(FY: 071-072)
Empty
(FY: 071-072)
Empty

56,613,264,120.00

***********************************************************************

496.00
Empty
0.2%
2016/05/17 03:00:00
375.0                                    578.00
450.34
7.83%
(FY: 072-073, Q: 3)
Empty
22.21
(FY: 070-071)
Empty
(FY: 071-072)
Empty

14,512,695,632.00

***********************************************************************

184.00
Empty
-0.54%
2015/01/29 03:00:00
0
Empty

(FY: 072-073, Q: 2)
Empty
12.34
(FY: 069-070)
Empty
(FY: 067-068)
Empty

3,680,096,416.00

***********************************************************************

1,448.00
Empty
1.26%
2016/05/17 03:00:00
718.0                                    1,450.00
1,137.11
74.46%
(FY: 072-073, Q: 3)
Empty
37.03
(FY: 071-072)
Empty
(FY: 071-072)
Empty
(FY: 071-072)
Empty
48,257,494,552.00

***********************************************************************

375.00
Empty
5.04%
2015/09/22 03:00:00
226.0                                    375.00
Empty
40.45%
(FY: 072-073, Q: 3)
Empty
25.56
(FY: 069-070)
Empty
(FY: 069-070)
Empty

7,725,000,000.00

***********************************************************************

385.00
Empty
-1.03%
2016/01/13 03:00:00
308.0                                    480.00
389.24
1.32%
(FY: 072-073, Q: 3)
Empty
19.81
(FY: 071-072)
Empty
(FY: 071-072)
Empty

9,357,281,780.00

***********************************************************************

207.00
Empty
0.98%
2014/04/03 03:00:00
0
Empty






4,140,000,000.00

***********************************************************************

688.00
Empty
1.18%
2016/05/17 03:00:00
393.0                                    693.00
595.79
29.81%
(FY: 072-073, Q: 3)
Empty
35.63
(FY: 070-071)
Empty
(FY: 070-071)
Empty
(FY: 071-072)
Empty
16,084,283,472.00

***********************************************************************

401.00
Empty
0.5%
2015/12/24 03:00:00
295.0                                    426.00
381.44
17.94%
(FY: 072-073, Q: 2)
Empty
22.11
(FY: 070-071)
Empty
(FY: 072-073)
Empty

8,023,341,132.00

***********************************************************************

Empty

2016/04/14 03:00:00
647.00
Empty
-100.00%
(FY: 072-073, Q: 2)
Empty

(FY: 072-073)
Empty
(FY: 072-073)
Empty
(FY: 072-073)
Empty


***********************************************************************

395.00
Empty
2.33%
2015/01/28 03:00:00
0
Empty

(FY: 072-073, Q: 2)
Empty
25.29
(FY: 071-072)
Empty
(FY: 071-072)
Empty
(FY: 071-072)
Empty
9,203,500,000.00

***********************************************************************

2,270.00
Empty
1.93%
2016/05/17 03:00:00
1,602.0                                    2,700.00
1,997.19
19.35%
(FY: 072-073, Q: 3)
Empty
39.06
(FY: 071-072)
Empty
(FY: 071-072)
Empty

82,974,449,670.00

***********************************************************************

682.00
Empty
1.49%
2016/05/17 03:00:00
399.0                                    699.00
518.39
39.75%
(FY: 072-073, Q: 3)
Empty
22.00
(FY: 071-072)
Empty
(FY: 071-072)
Empty

16,590,131,492.00

***********************************************************************

476.00
Empty
-0.21%
2016/05/17 03:00:00
237.0                                    489.00
354.37
63.01%
(FY: 072-073, Q: 2)
Empty
11.22


(FY: 072-073)
Empty
19,040,000,000.00

***********************************************************************

363.00
Empty
-4.22%
2015/11/26 03:00:00
363.0                                    615.00
380.00
-35.52%
(FY: 072-073, Q: 2)
Empty
14.86
(FY: 071-072)
Empty
(FY: 071-072)
Empty

5,327,790,930.00

***********************************************************************

1,072.00
Empty
2.58%
2016/05/17 03:00:00
603.0                                    1,208.00
891.39
50.99%
(FY: 072-073, Q: 3)
Empty
31.84
(FY: 071-072)
Empty
(FY: 072-073)
Empty

51,097,198,384.00

***********************************************************************

763.00
Empty
-1.17%
2016/05/17 03:00:00
529.0                                    1,052.00
817.05
17.38%
(FY: 072-073, Q: 2)
Empty
28.07
(FY: 071-072)
Empty
(FY: 071-072)
Empty

20,282,712,261.00

***********************************************************************

667.00
Empty
0.76%
2016/05/17 03:00:00
396.0                                    687.00
520.11
31.56%
(FY: 072-073, Q: 2)
Empty
32.89
(FY: 071-072)
Empty
(FY: 071-072)
Empty

13,340,000,000.00

***********************************************************************

649.00
Empty
3.02%
2016/05/17 03:00:00
390.0                                    654.00
557.47
45.84%
(FY: 072-073, Q: 2)
Empty
25.62
(FY: 071-072)
Empty

(FY: 071-072)
Empty
16,708,153,242.00

***********************************************************************

905.00
Empty
1.91%
2016/05/17 03:00:00
458.0                                    905.00
743.06
61.90%
(FY: 072-073, Q: 3)
Empty
30.67
(FY: 071-072)
Empty
(FY: 071-072)
Empty
(FY: 071-072)
Empty
23,077,211,305.00

***********************************************************************

1,740.00
Empty
1.28%
2016/05/17 03:00:00
765.0                                    1,789.00
1,480.75
95.51%
(FY: 072-073, Q: 2)
Empty
42.64
(FY: 071-072)
Empty
(FY: 071-072)
Empty

46,079,576,100.00

***********************************************************************

595.00
Empty
0.17%
2016/01/06 03:00:00
565.0                                    890.00
633.48
-13.77%
(FY: 072-073, Q: 3)
Empty
13.84
(FY: 071-072)
Empty
(FY: 071-072)
Empty

12,085,521,000.00

***********************************************************************

2,900.00
Empty
2.47%
2016/05/17 03:00:00
1,640.0                                    3,595.00
2,790.39
47.58%
(FY: 072-073, Q: 2)
Empty
53.26
(FY: 072-073)
Empty
(FY: 072-073)
Empty

65,053,351,000.00

***********************************************************************

590.00
Empty
-0.34%
2016/05/17 03:00:00
323.0                                    600.00
461.37
46.77%
(FY: 072-073, Q: 2)
Empty
26.11
(FY: 071-072)
Empty
(FY: 072-073)
Empty
(FY: 071-072)
Empty
13,196,235,000.00

***********************************************************************

390.00
Empty
2.36%
2016/05/17 03:00:00
252.0                                    402.00
344.02
24.60%
(FY: 072-073, Q: 3)
Empty
35.75
(FY: 071-072)
Empty
(FY: 072-073)
Empty
(FY: 071-072)
Empty
7,800,000,000.00

***********************************************************************

228.00
Empty
-2.98%
2012/06/28 03:00:00
0
Empty






4,560,000,000.00

***********************************************************************

Empty

Empty
0
Empty

(FY: 071-072, Q: 3)
Empty






***********************************************************************

415.00
Empty

2015/09/30 03:00:00
280.0                                    470.00
Empty
20.29%
(FY: 072-073, Q: 3)
Empty
28.70





***********************************************************************

In [63]:
print(len(values))

468

In [47]:
# values

In [48]:
nblvalues = []
url = "http://www.merolagani.com/CompanyDetail.aspx?symbol=NBL"
req = requests.get(url)
soup = BeautifulSoup(req.text,'lxml')
tables = soup.findChildren('table',attrs={'class':'table-zeromargin'})
company_table = tables[0]
data = company_table.findChildren(['td'])
for td in data:
    span = td.findChildren(['span'])
    strong = td.findChildren(['strong'])
    for data in strong:
        if data.text:
            nblvalues.append(data.text)
            
            print(data.text)
    for data in span:
        nblvalues.append(data.text)
        print(data.text)
    if td.string:
        text = td.string.replace("0\xa0-\xa0\r\n","")
        text = text.replace("\r\n",'')
        text = text.strip("\n")
        text = text.strip(" ")
        print(text)
        if text:
            nblvalues.append(text)
            
    else:
        nblvalues.append("NULL")
        print("Empty")
#     print(soup.text)
print("***********************************************************************\n")

476.00
Empty
-0.21%
2016/05/17 03:00:00
237.0                                    489.00
354.37
63.01%
(FY: 072-073, Q: 2)
Empty
11.22


(FY: 072-073)
Empty
19,040,000,000.00
***********************************************************************

In [49]:
nblvalues

['476.00',
 'NULL',
 '-0.21%',
 '2016/05/17 03:00:00',
 '237.0                                    489.00',
 '354.37',
 '63.01%',
 '(FY: 072-073, Q: 2)',
 'NULL',
 '11.22',
 '(FY: 072-073)',
 'NULL',
 '19,040,000,000.00']

In [50]:
df = pd.DataFrame(data=nblvalues)

In [51]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,476.00,NULL,-0.21%,2016/05/17 03:00:00,237.0 489.00,354.37,63.01%,"(FY: 072-073, Q: 2)",NULL,11.22,(FY: 072-073),NULL,"19,040,000,000.00"

In [52]:
# df  = pd.DataFrame(data=nblvalues,columns=['Market Price','%Change','Last Trade on','52 Weeks Low - High','180 Day Average','1 Year Yield','EPS','P/E Ratio','% Dividend','% Bonus','Right Share','Market Capitalization'])